@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #111827;
  --primary: #00E07E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}
